.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-logo{
    height: 50px;
    object-fit: contain;
}
.header-left{
    display: flex;
    align-items: center;
}

.header-middle{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}
.header-inputButton{
    width: 10% !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}
.header-right{
    display: flex;
    align-items: center;
}

.header-middle>input{
    flex: 1;
    border: none;
}